{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log In{% endblock %}

{% block content %}

    <section class="features">
          <div class="container">
            <div class="section-title">
                <div>
                    <h1 class="pt-9 mt-9">Log In</h1>
                    <h4 class="pt-5">Login to your account with your details.</h4>
                    <div class="pt-5 mb-400"></div>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class=" btn btn-success " type="submit">Log In</button>
                    </form>
                </div>
            </div>
          </div>
    </section>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}