dj-rest-auth
Django
django-allauth
django-cors-headers
django-cors-middleware
djangorestframework
djangorestframework-jsonapi
djangorestframework-simplejwt
environ
gunicorn
Pillow
virtualenv
django-crispy-forms
django-debug-toolbar
whitenoise