asgiref
async-generator
async-timeout
attrs
auditlog3
autobahn
Automat
autopep8
certifi
cffi
channels
chardet
constantly
cryptography
daphne
defusedxml
Deprecated
distlib
dj-rest-auth
Django
django-allauth
django-channels
django-channels-jwt-auth-middleware
django-channels-notifications
django-cors-headers
django-cors-middleware
django-countries
django-crispy-forms
django-debug-toolbar
django-jsonfield
django-otp
django-redis
django-rest-auth
django-stripe-billing
django-stripe-payments
django-stripe-paypal
django-stripe-subs
django-stripe-subscription
djangorestframework
djangorestframework-simplejwt
filelock
gunicorn
h11
hyperlink
idna
incremental
inflect
jsonfield
oauthlib
outcome
packaging
pep8
Pillow
platformdirs
psycopg2
psycopg2-binary
pyasn1
pyasn1-modules
pycodestyle
pycparser
PyJWT
pyOpenSSL
pyparsing
PySocks
python-decouple
python3-openid
pytz
redis
requests
requests-oauthlib
selenium
service-identity
six
sniffio
sortedcontainers
sqlparse
stripe
stripe-subscriptions
toml
trio
trio-websocket
Twisted
twisted-iocpsupport
txaio
typing_extensions
tzdata
urllib3
virtualenv
windows-curses
wrapt
wsproto
zope.interface
