dj-rest-auth
dj_database_url
Django
django-allauth
django-cors-headers
django-cors-middleware
djangorestframework
djangorestframework-jsonapi
djangorestframework-simplejwt
environ
gunicorn
Pillow
psycopg2
psycopg2-binary
virtualenv
django-crispy-forms
django-debug-toolbar
whitenoise