<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />

        <title>Fedha YG - Administration</title>
        <meta content="" name="description" />
        <meta content="" name="keywords" />

        <!-- Favicons -->
        <link href="{% static 'admin/assets/img/favicon.png'%}" rel="icon" />
        <link
            href="{% static 'admin/assets/img/apple-touch-icon.png'%}"
            rel="apple-touch-icon"
        />

        <!-- Google Fonts -->
        <link href="https://fonts.gstatic.com" rel="preconnect" />
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
        />

        <!-- Vendor CSS Files -->
        <link
            href="{% static 'admin/assets/vendor/bootstrap/css/bootstrap.min.css'%}"
            rel="stylesheet"
        />
        <link
            href="{% static 'admin/assets/vendor/bootstrap-icons/bootstrap-icons.css'%}"
            rel="stylesheet"
        />
        <link
            href="{% static 'admin/assets/vendor/boxicons/css/boxicons.min.css'%}"
            rel="stylesheet"
        />
        <link
            href="{% static 'admin/assets/vendor/quill/quill.snow.css'%}"
            rel="stylesheet"
        />
        <link
            href="{% static 'admin/assets/vendor/quill/quill.bubble.css'%}"
            rel="stylesheet"
        />
        <link
            href="{% static 'admin/assets/vendor/remixicon/remixicon.css'%}"
            rel="stylesheet"
        />
        <link
            href="{% static 'admin/assets/vendor/simple-datatables/style.css'%}"
            rel="stylesheet"
        />

        <!-- Template Main CSS File -->
        <link
            href="{% static 'admin/assets/css/style.css'%}"
            rel="stylesheet"
        />
        <style>
            body::-webkit-scrollbar {
              display: none;
            }
            {% block style %}{% endblock %}
        </style>

        <script>
            function downloadCSV(tableName) {
                // Select the table element
                const table = document.getElementById(tableName);

                // Build the CSV file by iterating over the table rows and cells
                let csv = "";
                for (let i = 0; i < table.rows.length; i++) {
                    let row = table.rows[i];
                    for (let j = 0; j < row.cells.length; j++) {
                        let cell = row.cells[j].innerText;
                        cell = cell.replace(/"/g, '""'); // Escape double quotes
                        if (cell.search(/("|,|\n)/g) >= 0) {
                            cell = `"${cell}"`; // Enclose in double quotes if the cell contains a special character
                        }
                        csv += (j > 0 ? "," : "") + cell;
                    }
                    csv += "\n";
                }

                // Create a link element to trigger the download
                const link = document.createElement("a");
                link.style.display = "none";
                link.setAttribute(
                    "href",
                    `data:text/csv;charset=utf-8,${encodeURI(csv)}`
                );
                link.setAttribute("download", `${tableName}.csv`);
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            }
        </script>

        <!-- =======================================================
  * Template Name: NiceAdmin - v2.5.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
    </head>
    <body>
        <!-- ======= Header ======= -->
        <header id="header" class="header fixed-top d-flex align-items-center">
            <div class="d-flex align-items-center justify-content-between">
                <a href="#" class="logo d-flex align-items-center">
                    <img src="{% static 'admin/assets/img/logo.png'%}" alt="" />
                    <span class="d-none d-lg-block">Fedha Admin</span>
                </a>
                <i class="bi bi-list toggle-sidebar-btn"></i>
            </div>
            <!-- End Logo -->

            <nav class="header-nav ms-auto">
                <ul class="d-flex align-items-center">
                    <li class="nav-item d-block d-lg-none">
                        <a class="nav-link nav-icon search-bar-toggle" href="#">
                            <i class="bi bi-search"></i>
                        </a>
                    </li>
                    <!-- End Search Icon-->

                    <li class="nav-item dropdown pe-3">
                        <a
                            class="nav-link nav-profile d-flex align-items-center pe-0"
                            href="#"
                            data-bs-toggle="dropdown"
                        >
                            <span class="d-none d-md-block dropdown-toggle ps-2"
                                >{{user.username}}</span
                            > </a
                        ><!-- End Profile Iamge Icon -->

                        <ul
                            class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile"
                        >
                            <li class="dropdown-header">
                                <h6>{{user.username}}</h6>
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>

                            <li>
                                <a
                                    class="dropdown-item d-flex align-items-center"
                                    href="{% url 'members:details' user.id %}"
                                >
                                    <i class="bi bi-person"></i>
                                    <span>My Profile</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>

                            <li>
                                <a
                                    class="dropdown-item d-flex align-items-center"
                                    href="{% url 'members:update' user.id %}"
                                >
                                    <i class="bi bi-gear"></i>
                                    <span>Account Settings</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>

                            <li>
                                <hr class="dropdown-divider" />
                            </li>

                            <li>
                                <a
                                    class="dropdown-item d-flex align-items-center"
                                    href="{% url 'account_logout' %}"
                                >
                                    <i class="bi bi-box-arrow-right"></i>
                                    <span>Sign Out</span>
                                </a>
                            </li>
                        </ul>
                        <!-- End Profile Dropdown Items -->
                    </li>
                    <!-- End Profile Nav -->
                </ul>
            </nav>
            <!-- End Icons Navigation -->
        </header>
        <!-- End Header -->

        <!-- ======= Sidebar ======= -->
        <aside id="sidebar" class="sidebar">
            <ul class="sidebar-nav" id="sidebar-nav">
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="{% url 'administration:home-admin' %}"
                    >
                        <i class="bi bi-grid"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <!-- End Dashboard Nav -->

                <li class="nav-heading">Pages</li>

                <li class="nav-item">
                    <a
                        class="nav-link collapsed"
                        href="{% url 'administration:registrations' %}"
                    >
                        <i class="bi bi-person"></i>
                        <span>Registrations</span>
                    </a>
                </li>
                <!-- End Registrations Page Nav -->

                <li class="nav-item">
                    <a
                        class="nav-link collapsed"
                        href="{% url 'administration:contributions' %}"
                    >
                        <i class="bi bi-currency-bitcoin"></i>
                        <span>Contributions</span>
                    </a>
                </li>
                <!-- End Contributions Page Nav -->

                <li class="nav-item">
                    <a
                        class="nav-link collapsed"
                        href="{% url 'administration:deposits' %}"
                    >
                        <i class="bi bi-coin"></i>
                        <span>Fixed Deposits</span>
                    </a>
                </li>
                <!-- End Fixed Deposits Page Nav -->

                <li class="nav-item">
                    <a
                        class="nav-link collapsed"
                        href="{% url 'administration:loans' %}"
                    >
                        <i class="bi bi-card-list"></i>
                        <span>Loans borrowed</span>
                    </a>
                </li>
                <!-- End Loans borrowed Page Nav -->

                <li class="nav-item">
                    <a
                        class="nav-link collapsed"
                        href="{% url 'administration:schedules' %}"
                    >
                        <i class="bi bi-calendar-check"></i>
                        <span>Repayments Schedules</span>
                    </a>
                </li>
                <!-- End Repayments Schedules Page Nav -->

                <li class="nav-item">
                    <a
                        class="nav-link collapsed"
                        href="{% url 'administration:balances' %}"
                    >
                        <i class="bi bi-stickies"></i>
                        <span>Repayment Balances</span>
                    </a>
                </li>
                <!-- End Repayment Balances Page Nav -->

                <li class="nav-item">
                    <a
                        class="nav-link collapsed"
                        href="{% url 'administration:dividends' %}"
                    >
                        <i class="bi bi-file-spreadsheet"></i>
                        <span>Payable Dividends</span>
                    </a>
                </li>
                <!-- End Payable Dividends Nav -->
            </ul>
        </aside>
        <!-- End Sidebar-->

        {% block content %} {% endblock %}

        <!-- ======= Footer ======= -->
        <footer id="footer" class="footer">
            <div class="copyright">
                &copy; Copyright <strong><span>Fedha</span></strong
                >. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                Designed by
                <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </footer>
        <!-- End Footer -->

        <a
            href="#"
            class="back-to-top d-flex align-items-center justify-content-center"
            ><i class="bi bi-arrow-up-short"></i
        ></a>

        <!-- Vendor JS Files -->
        <script src="{% static 'admin/assets/vendor/apexcharts/apexcharts.min.js'%}"></script>
        <script src="{% static 'admin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
        <script src="{% static 'admin/assets/vendor/chart.js/chart.umd.js'%}"></script>
        <script src="{% static 'admin/assets/vendor/echarts/echarts.min.js'%}"></script>
        <script src="{% static 'admin/assets/vendor/quill/quill.min.js'%}"></script>
        <script src="{% static 'admin/assets/vendor/simple-datatables/simple-datatables.js'%}"></script>
        <script src="{% static 'admin/assets/vendor/tinymce/tinymce.min.js'%}"></script>
        <script src="{% static 'admin/assets/vendor/php-email-form/validate.js'%}"></script>

        <!-- Template Main JS File -->
        <script src="{% static 'admin/assets/js/main.js'%}"></script>
    </body>
</html>
