{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
  
  <section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Fedha Youth Group</span></h2>
          <p class="animate__animated animate__fadeInUp">Fedha Youth Group is an organization formed by youths for purposes of saving money and giving loans to members. Eligible members are youths aged 18 to 35 years who intend to start or improve their personal business ventures.
          </p>
          <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Become Your own Boss</h2>
          <p class="animate__animated animate__fadeInUp">Through saving with us, your money can work for you; through your dividends!</p>
          <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Managed by fellow Youths.</h2>
          <p class="animate__animated animate__fadeInUp">Our group is managed, run and organised by our amazing fellow Kenyan Youths.
            Get to interact with them as a community with the passion to change the default code in the matrix!</p>
          <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Services Section ======= -->
    <section class="services">
      <div class="container">

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box icon-box-pink">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">Account management.</a></h4>
              <p class="description">This is through our account navigation menus.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box icon-box-cyan">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Transaction history view.</a></h4>
              <p class="description">Outlines all transactions made on your account.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-green">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Quick payment making.</a></h4>
              <p class="description">With no delays or hitches.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-blue">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">Community support.</a></h4>
              <p class="description">Through the Fedha blog, support can be given by fellow members and also administrators.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Why Us Section ======= -->
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 video-box">
            <img src="{% static 'main/img/why-us.jpg' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

            <div class="icon-box">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="">Transaction encryption.</a></h4>
              <p class="description">Our developers have assured security of your transaction to avoid data leakage and loss.</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="title"><a href="">Gifts and roles</a></h4>
              <p class="description">Top and consistent contributors have a reason to smile. There are hidden coupons and gifts for them!</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Features Section ======= -->
    <section class="features">
      <div class="container">

        <div class="section-title">
          <h2>Features</h2>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <img src="{% static 'main/img/features-1.svg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-4">
            <h3>You will always have a reason to smile with us.</h3>
            <p class="fst-italic">
              Why stress about bills when our community offers these offers.
            </p>
            <ul>
              <li><i class="bi bi-check"></i> Community support.</li>
              <li><i class="bi bi-check"></i> Gifts and coupons.</li>
              <li><i class="bi bi-check"></i> Dividends and affordable loans.</li>
            </ul>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="{% static 'main/img/features-2.svg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3>Financial freedom.</h3>
            <p class="fst-italic">
              Make your money work for you.
            </p>
            <p>
              Are you tired of feeling left out of the financial system? Dou you want to take control of your money and make it work for you?
              Look no further than our youth sacco.
            </p>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <img src="{% static 'main/img/features-3.svg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5">
            <h3>Meet new people.</h3>
            <p>Through our blog you can interact with fellow members and even make new friends.</p>
            <ul>
              <li><i class="bi bi-check"></i> Friendly blogs.</li>
              <li><i class="bi bi-check"></i> Friendly members.</li>
              <li><i class="bi bi-check"></i> Friendly Fedha.</li>
            </ul>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="{% static 'main/img/features-4.svg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3>Shape your financial future</h3>
            <p class="fst-italic">
              You have all the power to do that, let us help.
            </p>
            <p>
              Our sacco is dedicated to helping young people take control of their money and build a solid foundation.
              You can easily acess the tools and resources you need to manage your account, make payments, and learn about financial literacy.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

  </main><!-- End #main -->

{% endblock %}