{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Details Update{% endblock %}

{% block style %}
    form > * {
        padding: 20px;
    }
    small {
        padding: 0 20px;
    }
{% endblock %}

{% block content %}

    <section class="features">

      <div class="container">

        <div class="section-title">
          <h2>Member Information Update</h2>
        </div>

         <div class="col-md-7 pt-4">
            <div class="col-lg-6">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }} <br><br>
                    <button class="btn btn-success" type="submit">Save Changes</button>
                </form>
            </div>
          </div>

      </div>
    </section>

{% endblock %}
